### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data['SN'].value_counts())
players_count = pd.DataFrame({"Total Players":[total_players]})
players_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Number_of_Unique_Items = len(purchase_data['Item Name'].unique())
Average_Price = purchase_data['Price'].mean()
Number_of_Purchases = purchase_data['Purchase ID'].count()
Total_Revenue = purchase_data['Price'].sum()

In [4]:
purchase_summary = pd.DataFrame([{'Number of Unique Items':Number_of_Unique_Items,
                                'Average Price':Average_Price,
                                'Number of Purchases':Number_of_Purchases,
                                'Total Revenue':Total_Revenue}])

In [5]:
#purchase_summary.style.format({'Average Price':"${:,.2f}",
#                              'Total Revenue':"${:,.2f}"})

purchase_summary['Average Price']=purchase_summary['Average Price'].astype(float).map("${:,.2f}".format)
purchase_summary['Total Revenue']=purchase_summary['Total Revenue'].astype(float).map("${:,.2f}".format)

In [6]:
purchase_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [22]:
# Identify Unique Records using column 'SN'
purchase_data_unique = purchase_data.drop_duplicates('SN')
purchase_data_unique.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
# Identify gender counts

total_gender = purchase_data_unique['Gender'].value_counts()
total_gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [9]:
# calculate percentage

Percentage_of_Players = total_gender/total_players * 100
Percentage_of_Players

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [10]:
# create a summary data frame
gender_demographics = pd.DataFrame({'Total Count':total_gender,'Percentage of Players':Percentage_of_Players})

In [11]:
# format the Percetage field

gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].astype(float).map("{:,.2f}%".format)

In [12]:
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# calculate purchase count by 'GENDER'

Purchase_Count = purchase_data['Gender'].value_counts()
Purchase_Count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
# Calculate Average Purchase price by 'GENDER'
Average_Purchase_Price = purchase_data.groupby('Gender')['Price'].mean()
Average_Purchase_Price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [15]:
# Calculate total purchase value by 'GENDER'

Total_Purchase_Value = purchase_data.groupby('Gender')['Price'].sum()
Total_Purchase_Value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
# Calculate Avg total purchange per person
Avg_Total_Purchase_per_Person = Total_Purchase_Value/total_gender
Avg_Total_Purchase_per_Person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [17]:
# create a summary dataframe
purchasing_analysis_summary = pd.DataFrame({
    'Purchase Count':Purchase_Count,
    'Average Purchase Price':Average_Purchase_Price,
    'Total Purchase Value': Total_Purchase_Value,
    'Avg Total Purchase per Person':Avg_Total_Purchase_per_Person
})

In [18]:
# Format the price columns
purchasing_analysis_summary['Average Purchase Price'] = purchasing_analysis_summary['Average Purchase Price'].astype(float).map("${:,.2f}".format)
purchasing_analysis_summary['Total Purchase Value'] = purchasing_analysis_summary['Total Purchase Value'].astype(float).map("${:,.2f}".format)
purchasing_analysis_summary['Avg Total Purchase per Person'] = purchasing_analysis_summary['Avg Total Purchase per Person'].astype(float).map("${:,.2f}".format)

In [19]:
purchasing_analysis_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
# create bins and labels & Categorize the existing players using the age bins. Hint: use pd.cut()

bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,199]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

pd.cut(purchase_data['Age'],bins,labels=group_names,include_lowest=True)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [21]:
# now add a new column Age Group to the exisitng DF with and pd.cut() value

purchase_data['Age Group'] = pd.cut(purchase_data['Age'],bins,labels=group_names,include_lowest=True)

In [22]:
# create a new field with new column Age Group

group_aged = purchase_data.groupby('Age Group')

In [23]:
# Count distinct observations over requested axis/column.

unique_age_totals = group_aged['SN'].nunique()

In [24]:
# calculate Percentage of Players

Percentage_of_Players = unique_age_totals/total_players * 100

In [25]:
# create a new DF with summary

age_summary = pd.DataFrame({
    'Total Count': unique_age_totals,
    'Percentage of Players': Percentage_of_Players
})

In [26]:
# Format Percentqage column
age_summary['Percentage of Players'] = age_summary['Percentage of Players'].astype(float).map("{:,.2f}%".format)

In [27]:
age_summary

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [28]:
# Remove Index name 
age_summary.index.name=None

In [29]:
age_summary

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# Calculate purchase_count_by_age_group

purchase_count_by_age_group = purchase_data['Age Group'].value_counts()
purchase_count_by_age_group

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age Group, dtype: int64

In [31]:
# Calculate avg_price_purchange_by_age_group
avg_price_purchange_by_age_group = purchase_data.groupby('Age Group')['Price'].mean()
avg_price_purchange_by_age_group

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [32]:
# Calculate Total_purchase_value_by_age_group
Total_purchase_value_by_age_group = purchase_data.groupby('Age Group')['Price'].sum()
Total_purchase_value_by_age_group

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [33]:
# Calculate Avg_Total_Purchase_per_Person_by_age_group
Avg_Total_Purchase_per_Person_by_age_group = Total_purchase_value_by_age_group/unique_age_totals
Avg_Total_Purchase_per_Person_by_age_group

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [34]:
Purchasing_Analysis_Summary = pd.DataFrame({
    'Purchase Count': purchase_count_by_age_group,
    'Average Purchase Price': avg_price_purchange_by_age_group,
    'Total Purchase Value': Total_purchase_value_by_age_group,
    'Avg Total Purchase per Person':Avg_Total_Purchase_per_Person_by_age_group
})

In [35]:
Purchasing_Analysis_Summary['Average Purchase Price'] = Purchasing_Analysis_Summary['Average Purchase Price'].astype(float).map("${:,.2f}".format)
Purchasing_Analysis_Summary['Total Purchase Value'] = Purchasing_Analysis_Summary['Total Purchase Value'].astype(float).map("${:,.2f}".format)
Purchasing_Analysis_Summary['Avg Total Purchase per Person'] = Purchasing_Analysis_Summary['Avg Total Purchase per Person'].astype(float).map("${:,.2f}".format)

In [36]:
Purchasing_Analysis_Summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [37]:
# Group purchase data by screen names
spender_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
# create a df with above 3 cols
item_df = purchase_data[['Item ID','Item Name','Price']]

#group by Item ID & Item Name
item_stats = item_df.groupby(['Item ID','Item Name'])

# purchase count
Item_Purchase_Count = item_stats['Price'].count()

# Total Purchase count
Item_Total_Purchase_Value = (item_stats['Price'].sum())

# Average Item price
Item_average_item_price = (item_stats['Price'].mean())

# Create summary DF
item_summary = pd.DataFrame({"Purchase Count":Item_Purchase_Count,
                            "Item Price": Item_average_item_price,
                             "Total Purchase Value":Item_Total_Purchase_Value
                            })

item_summary_formatted =item_summary.sort_values(['Purchase Count'],ascending=False).head()

# Format with currency style
item_summary_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [50]:
sorted_total_purchase =item_summary.sort_values(['Total Purchase Value'],ascending=False).head()
# Format with currency style
sorted_total_purchase.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})